{{#each hits}}
<li class="card-list" style="width: 24%;">
    <div style="text-align: center;">
        <img src="{{webformatURL}}" alt="{{tags}}" srcset="{{largeImageURL}}" class="card-img js-img" />
    </div>
</li>
{{/each}}